input {
  outline: none;
}
.box-form {
  text-align: center;
}
.box-form h1 {
  color: #464646;
}
.box-form .form {
  position: relative;
  display: inline-flex;
  margin: 20px 0;
}
.box-form input[name=task] {
  width: 330px;
  padding: 15px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #3c3c3c;
}
.box-form input[name=task]:focus {
  border-bottom: 1px solid #008efb;
}
.box-form input[type=submit] {
  margin-left: 40px;
  padding: 15px 40px;
  border: none;
  background-color: #eee;
  color: #3c3c3c;
}
.box-form input[type=submit]:active {
  background: #424242;
  color: #fff;
}
.box-form input[type=submit]:hover {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.box-form .error {
  position: absolute;
  display: none;
  top: -25px;
  left: 20px;
  color: #008efb;
  font-size: 13px;
}
.box-form .error.show-error {
  display: block;
}
.app-container {
  margin: 0 auto;
  max-width: 800px;
  font-family: Georgia, Helvetica, Arial, sans-serif;
}
